<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="../static/practice.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../static/practice.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- <div id='map'></div> -->
    
    <div id="barchart_values" style="width: 900px; height: 300px;"></div>
    <div id="chart_div" style="width: 1000px; height: 500px;"></div>
    <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
    <div id="piechart_3d" style="width: 900px; height: 500px;"></div>

</body>
</html>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
<!-- <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2F1cmFiaDE0IiwiYSI6ImNramJuN2xncTduZjcyeWxiYTUwM21nNm0ifQ.TJdHwbhppsHW1Vb5LQruwQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/dark-v10',
        zoom: 1,
        center: [0, 40]
    });
</script> -->